* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

.icon{
    position: relative;
    bottom: 80px;
    background-color: #ffffff;
    border: 1px solid black;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 35px;
    color: orange;
}


.container-item1, .container-item2, .container-item3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: black 1px solid;
    width: 250px;
    height: 300px;
    padding: 5px;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    border: black solid 1px;
}

.button:hover{
    background-color: #9f9e9e;
    color: snow;
    transition-duration: 300ms;
}

h4 {
    font-family: "Calibri Light", sans-serif;
    font-size: 20px;
}

p{
    color: #9f9e9e;
}

